:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    overflow: hidden;
    /* background-image: url('../images/laura-vinck-Hyu76loQLdk-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.wrapper {
    display: flex;
    column-gap: 100px;
}

h1 {
    margin-bottom: 20px;
}

.gif {
    margin-bottom: 50px;
    border-radius: 10px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.neon-button {
    font-size: 2rem;
    transition: .3s;
    display: inline-block;
    cursor: default;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

    position: relative;

    background-color: transparent;
}

.yes {
    cursor: pointer;
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

.modalBlock {
    opacity: 0;
    overflow: hidden;
    transition: .4s;
    position: fixed;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neon);
    border-radius: 10px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.title {
    color: var(--clr-bg);
    font-size: 150%;
}

.is-active {
    opacity: 1;
    overflow: visible;
    top: 38%;
}

.close {
    position: absolute;
    right: 5%;
    top: 5%;
    transform: scale(200%);
    cursor: pointer;
    color: var(--clr-bg);
}

.left__Block {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 300px;
    width: 100px;
    border-top: 1px solid var(--clr-neon);
    border-left: 1px solid var(--clr-neon);
    border-radius: 50px;
    /* border-radius: 20px; */
}

.left__Block::before {
    position: absolute;
    content: '';
    display: block;
    top: 60%;
    left: 0%;
    height: 300px;
    width: 100px;
    border-top: 1px solid var(--clr-neon);
    border-right: 1px solid var(--clr-neon);
    border-radius: 100px;
}

.frame {
    position: absolute;
    top: 30%;
    left: 10%;
}